@font-face {
    font-family: Avenir;
    src: url('../font/nunito/Nunito-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'Avenir Bold';
    src: url('../font/nunito/Nunito-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad/MYRIADPRO-REGULAR.woff')
}

@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('../font/myriad/MYRIADPRO-BOLD.woff');
    font-weight: bold;
}